.request_response_bar {
    & > box {
        padding: .5rem .25rem;
    }

    label {
        background: #E0E0E0;
        margin-right: 1em;
        border: 1px solid rgba(0, 0, 0, 0.07);
        font-size: 13px;
        color: $font;
        padding: .25rem .5rem;
    }

    .request_response_bar__code {
        color: white;
        
        &.success {
            background: $success;
            text-shadow: 0 0 0.05em $success;
        }

        &.warning {
            background: $warning;
            text-shadow: 0 0 0.05em $warning;
        }

        &.error {
            background: $danger;
            text-shadow: 0 0 0.05em $danger;
        }
    }
}